In [7]:
import os, csv

In [8]:
budget_csv = os.path.join("Resources", "budget_data.csv")
budget_csv

'Resources\\budget_data.csv'

In [9]:
# Lists to store data
total_months = 0
total = 0
changes = []

In [10]:
#Read into CSV
with open(budget_csv) as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=",")
    
    csv_header = next(csv_reader)
    print(f"Header: {csv_header}")
    for i, row in enumerate(csv_reader):
        print(row)
        
        # Count Months
        total_months += 1
        print(total_months)
        
        # Getting the total
        total += int(row[1])
        
        # Tracking average change
        if i > 0:
            change = int(row[1]) - prev
            changes.append(change)
            
        prev = int(row[1])

Header: ['Date', 'Profit/Losses']
['Jan-10', '1088983']
1
['Feb-10', '-354534']
2
['Mar-10', '276622']
3
['Apr-10', '-728133']
4
['May-10', '852993']
5
['Jun-10', '563721']
6
['Jul-10', '-535208']
7
['Aug-10', '632349']
8
['Sep-10', '-173744']
9
['Oct-10', '950741']
10
['Nov-10', '-785750']
11
['Dec-10', '-1194133']
12
['Jan-11', '-589576']
13
['Feb-11', '-883921']
14
['Mar-11', '443564']
15
['Apr-11', '837887']
16
['May-11', '1081472']
17
['Jun-11', '464033']
18
['Jul-11', '-1066544']
19
['Aug-11', '323846']
20
['Sep-11', '-806551']
21
['Oct-11', '487053']
22
['Nov-11', '1128811']
23
['Dec-11', '791398']
24
['Jan-12', '739367']
25
['Feb-12', '-197825']
26
['Mar-12', '666016']
27
['Apr-12', '589771']
28
['May-12', '489290']
29
['Jun-12', '-471439']
30
['Jul-12', '120417']
31
['Aug-12', '175347']
32
['Sep-12', '855449']
33
['Oct-12', '605195']
34
['Nov-12', '-235220']
35
['Dec-12', '347138']
36
['Jan-13', '298510']
37
['Feb-13', '163254']
38
['Mar-13', '1141840']
39
['Apr-13', '542630']
40
['May-13', '99841']
41
['Jun-13', '752765']
42
['Jul-13', '-252949']
43
['Aug-13', '914424']
44
['Sep-13', '679524']
45
['Oct-13', '514377']
46
['Nov-13', '462102']
47
['Dec-13', '159782']
48
['Jan-14', '878810']
49
['Feb-14', '-946748']
50
['Mar-14', '340335']
51
['Apr-14', '292032']
52
['May-14', '502266']
53
['Jun-14', '265852']
54
['Jul-14', '851017']
55
['Aug-14', '-549615']
56
['Sep-14', '290162']
57
['Oct-14', '755391']
58
['Nov-14', '1073202']
59
['Dec-14', '313000']
60
['Jan-15', '241132']
61
['Feb-15', '1036589']
62
['Mar-15', '853904']
63
['Apr-15', '-388932']
64
['May-15', '982952']
65
['Jun-15', '537759']
66
['Jul-15', '547784']
67
['Aug-15', '-496214']
68
['Sep-15', '854181']
69
['Oct-15', '934719']
70
['Nov-15', '-288531']
71
['Dec-15', '-184383']
72
['Jan-16', '659541']
73
['Feb-16', '-1149123']
74
['Mar-16', '355882']
75
['Apr-16', '662284']
76
['May-16', '518681']
77
['Jun-16', '-748256']
78
['Jul-16', '-910775']
79
['Aug-16', '951227']
80
['Sep-16', '898241']
81
['Oct-16', '-729004']
82
['Nov-16', '-112209']
83
['Dec-16', '516313']
84
['Jan-17', '607208']
85
['Feb-17', '382539']
86

In [16]:
total_months

86

In [25]:
total

22564198

In [38]:
changes

[-1443517,
 631156,
 -1004755,
 1581126,
 -289272,
 -1098929,
 1167557,
 -806093,
 1124485,
 -1736491,
 -408383,
 604557,
 -294345,
 1327485,
 394323,
 243585,
 -617439,
 -1530577,
 1390390,
 -1130397,
 1293604,
 641758,
 -337413,
 -52031,
 -937192,
 863841,
 -76245,
 -100481,
 -960729,
 591856,
 54930,
 680102,
 -250254,
 -840415,
 582358,
 -48628,
 -135256,
 978586,
 -599210,
 -442789,
 652924,
 -1005714,
 1167373,
 -234900,
 -165147,
 -52275,
 -302320,
 719028,
 -1825558,
 1287083,
 -48303,
 210234,
 -236414,
 585165,
 -1400632,
 839777,
 465229,
 317811,
 -760202,
 -71868,
 795457,
 -182685,
 -1242836,
 1371884,
 -445193,
 10025,
 -1043998,
 1350395,
 80538,
 -1223250,
 104148,
 843924,
 -1808664,
 1505005,
 306402,
 -143603,
 -1266937,
 -162519,
 1862002,
 -52986,
 -1627245,
 616795,
 628522,
 90895,
 -224669]

In [42]:
# Find average change
average_change = sum(changes)/len(changes)
average_change

-8311.105882352942

In [44]:
# Find Greatest Increase
max(changes)

1862002

In [45]:
# Find Greatest Decrease
min(changes)

-1825558

In [65]:
print("Financial Analysis")
print("-------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Average Change: ${average_change:.2f}")
print(f"Greatest Increase in Profits: ${max(changes)}")
print(f"Greatest Decrease in Profits: ${min(changes)}")

Financial Analysis
-------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: $1862002
Greatest Decrease in Profits: $-1825558

In [16]:
# Specify the file to write to
output_path = os.path.join("analysis", "new.csv")

In [17]:
# Open the file using "write" mode. Specify the variable to hold the contents
with open(output_path, 'w') as csvfile:

    # Initialize csv.writer
    csvwriter = csv.writer(csvfile)
    
    # Write the first row (column headers)
    csvwriter.writerow(['Financial Analysis'])

    # Write the second row
    csvwriter.writerow(['-------------------------'])
    
     # Write the second row
    csvwriter.writerow(['Total Months: 86'])
    
     # Write the second row
    csvwriter.writerow(['Total: $22564198'])
    
     # Write the second row
    csvwriter.writerow(['Average Change: $-8311.11'])
    
     # Write the second row
    csvwriter.writerow(['Greatest Increase in Profits: $1862002'])
    
     # Write the second row
    csvwriter.writerow(['Greatest Decrease in Profits: $-1825558'])